{{- if .Values.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo
  namespace: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      app: demo
  replicas: 1
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
      - name: nginx
        image: nginx
        ports:
        - containerPort: 80
{{- end }}
