{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  labels:
    app: demo
  name: demo
  namespace: {{ .Release.Name }}
spec:
  type: ClusterIP
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: demo
{{- end }}