{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: demo-service
  namespace: {{ .Release.Name }}
spec:
  selector:
    app: demo
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
{{- end }}