replicaCount: 1
image:
  repository: postgres
  tag: "13.19-alpine"
  pullPolicy: IfNotPresent
port: 5432
user: postgres
password: postgres
database: postgres
persistence:
  enabled: true
  size: 2Gi
  storageClass: ""
resources: {}
createSecret: true