{{- if and .Values.enabled .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ printf "jupyter" }}
  namespace: {{ .Release.Name }}
  labels:
    app: {{ printf "jupyter" }}
spec:
  rules:
  - host: localhost
    http:
      paths:
        - path: {{ .Values.ingress.path }}
          pathType: Prefix
          backend:
            service:
              name: jupyter
              port: 
                number: {{ .Values.port }}
{{- end }}
