{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Release.Name }}
  labels:
    app: {{ .Values.name }}
spec:
  type: ClusterIP
  {{- if .Values.ports }}
  ports:
  {{- range .Values.ports }}
    - port: {{ .port }}
      name: {{ .name }}
      {{- if .targetPort }}
      targetPort: {{ .targetPort }}
      {{- end }}
      {{- if .nodePort }}
      nodePort: {{ .nodePort }}
      {{- end }}
  {{- end }}
  {{- end }}
  selector:
    app: {{ .Values.name }}
{{- end }}